@font-face {
  font-family: "Bolt";
  src: url("./assets/fonts/Bolt\ Regular.woff");
}

* {
  font-family: "Bolt";
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #fffbf7;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
}

.colored__text {
  color: #ffb4c3;
}

h1 {
  font-size: 60px;
  margin-bottom: 24px;
  color: #4d4d4d;
}

h2 {
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #4d4d4d;
}

.nav__link--primary {
  margin: 0 16px 0 10px;
  text-decoration: none;
  font-size: 18px;
  color: #3b3b3b;
  padding: 8px;
}

.nav {
  display: flex;
  height: 80px;
}

.logo {
  width: 180px;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__main {
  display: flex;
}

.nav__titles {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.nav__login {
  display: flex;
}

.nav__link {
  margin-left: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #3b3b3b;
  padding: 8px;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 120px;
  border: 2px solid #ffb4c3;
  color: #ffb4c3;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #ffb4c3;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all 0.35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #ffb4c3;
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover a {
  color: #ffffff;
  background-color: #ffffff00;
}

/* 

ROOT 

*/

.root__container {
  width: 1200px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.root__empiretext {
  width: 40%;
  margin-right: 40px;
}

.root__empireimg,
.quality__empireimg {
  width: 60%;
  margin-top: 50px;
  z-index: 1;
}

.empire__desc {
  font-size: 20px;
  color: #4d4d4d;
  margin-bottom: 24px;
}

.root__email {
  margin-bottom: 24px;
}

.trusted__companies {
  display: flex;
  flex-direction: column;
  color: #313131;
  font-size: 14px;
  opacity: 50%;
}

:root {
  background: #f5f6fa;
  color: #414141;
  font: 1rem "PT Sans", sans-serif;
}

a {
  color: inherit;
}
a:hover {
  color: #ffb4c3;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 300ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: #ffb4c3;
  color: #fff;
  border-radius: 2px;
  padding: 20px 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.btn--primary:hover {
  background: #ff6886;
}
.btn--primary:active {
  background: #ffb4c3;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -96px;
}

.form__field {
  width: 420px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  outline: 0;
  padding: 16px 18px;
}

/* 

FEATURES 

*/

#features {
  padding-top: 10vw;
}

.features__container {
  width: 100%;
  max-width: 1200px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.features__desc {
  font-size: 24px;
  margin-bottom: 24px;
  color: #7a7a7a;
  line-height: 2em;
}

.features__list {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.features__list--wrapper {
  display: flex;
  flex-direction: column;
}

.features__item {
  width: calc(100% / 3);
  display: flex;
  margin-bottom: 24px;
  color: #7a7a7a;
}

.features__img {
  font-size: 150%;
  width: 50px;
  height: 50px;
  color: #ffb4c3;
  border: 1px solid #25252523;
  border-radius: 9999px;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

/* 

QUALITY 

*/

#quality {
  margin-top: 200px;
}

.quality__container {
  width: 1200px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.quality__title {
  font-size: 48px;
}

.quality__empiretext {
  width: 50%;
  margin-left: 24px;
}

.quality__desc {
  width: 90%;
}

.quality__empireimg {
  width: 50%;
}

.quality__button--wrapper {
  margin-top: 24px;
}

/* 

STEPS 

*/

#steps {
  margin-top: 200px;
}

.steps__container {
  width: 1200px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.steps__title {
  font-size: 48px;
}

.steps__empiretext {
  width: 50%;
  margin-left: 24px;
}

.steps__desc {
  width: 90%;
}

.steps__empireimg {
  width: 50%;
}

.steps__button--wrapper {
  margin-top: 24px;
}

.steps__list {
  display: flex;
  flex-direction: column;
}

.steps__item {
  display: flex;
  margin-bottom: 24px;
}

.steps__list--title {
}

.steps__numbers {
  color: #31313191;
  font-size: 60px;
  margin-right: 24px;
}
.list__01 {
  margin-left: 13px;
}

/* 

PAYMENT 

*/

#payment {
  margin-top: 200px;
}

.payment__container--1 {
  width: 1200px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.payment__wrapper {
    display: flex;
}

.payment__header {
  font-size: 48px;
}

.payment__title {
  font-size: 30px;
  color: #313131;
}

.payment__price {
  font-size: 60px;
  color: #313131c2;
  font-weight: 600;
}

.payment__length {
  font-size: 20px;
  color: #31313179;
  font-weight: 600;
}

.payment__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.payment__items {
  font-size: 20px;
  color: #313131c2;
  margin-bottom: 10px;
}

.payment_boxwrapper {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-top: solid 10px #ffb4c3;
  border-bottom: solid 5px #ffb4c3;
  border-left: solid 1px #25252523;
  border-right: solid 1px #25252523;
  border-radius: 10px;
  margin: 8px;
  padding: 10px 0px;
}

.payment__box1 {
  height: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border-bottom: solid 1px #25252523;
  padding-bottom: 10px;
}

.payment__box2 {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-bottom: solid 1px #25252523;
}

.payment__box3 {
  height: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.variation {
 background-color: #fff8b4;
}
